#Options -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /oneday/index.php [L,NC,QSA]

  #RewriteRule ^(.*)\.* index.php [L,NC,QSA]
</IfModule>